<footer class="footer">
  <div class="footer-social">
    <ul class="social-icons">
      {% if site.twitter_url %}
      <li><a href="{{ site.twitter_url }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.facebook_url %}
      <li><a href="{{ site.facebook_url }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.googleplus_url %}
      <li><a href="{{ site.googleplus_url }}"><i class="fa fa-google-plus-square" aria-hidden="true"></i>
</a></li>
      {% endif %}
      {% if site.instagram_url %}
      <li><a href="{{ site.instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.github_url %}
      <li><a href="{{ site.github_url }}"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
    <ul class="copyright">
      <li>2017 @ Mr.Brown Theme</li>
      <li>
        Author: <a href="#">Artem Sheludko</a>
      </li>
    </ul>
  </div>
  <div class="footer-newsletter"></div>
</footer>
